<div>
  <span class="fs-subhead text-help">
    Thank you for your request.<br>
    We will be contacting you within 24 hours by email.
  </span>
  <div class="mt++">
    <lx-button class="button-action" lx-color="blue-grey" lx-type="raised" ng-click="vm.outsider()">Visit our Accuris&trade; Website</lx-button>
  </div>
  <div class="mt">
    <lx-button class="button-action" lx-color="blue-grey" lx-type="raised" ng-click="vm.restart()">Start over to select another PCR Taq product</lx-button>
  </div>
</div>
