.admin-input {
  .item-quest {
    .pcr-label {
      cursor: pointer;
    }
  }

  li .pcr-buttons {
    display: inline-block;
    width: auto;
  }

  .card .card__content {
    min-height: 500px;
  }
}